
@{
    ViewData["Title"] = "角色管理";
}
<link href="~/ext/build/theme-neptune/resources/theme-neptune-all.css" rel="stylesheet" />
<link href="~/ext/css/KitchenSink-all.css" rel="stylesheet" />
<script src="~/ext/build/ext-all.js"></script>
<script src="~/js/script/role/index.js"></script>
<script src="~/ext/build/locale-zh_CN.js"></script>
<div id="grid"></div>
